  @import '~bootstrap/scss/bootstrap';



body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Montserrat;
}

.cards2 {

  width: 33%;
  height: 25rem;
  text-align: center;
  display: inline-flex;
}

.cards3 {
  margin: 2%;
  text-align: center;
  display: inline-flex;
  height: 28rem;
  border-radius: 15px;
  background-color: black;
  width: 18rem;
}

.cards5 {
  height: 50rem;
  width: 20rem;
  margin: 3%;
  background-color: black;
  color: white;
  border-radius: 14px;
  display: inline-flex;
}

.card-texts2 {
  margin-top: 10%;
}

.card-title-s5 {
color: #EFAFFF;
font-weight: 800;
}

form {
  position: absolute;

}

.el1 {
  position: absolute;
}

.e1 {

  color: white;
  font-size: 1.8em;
  color:#E845F8;
  font-weight: bold;
  margin-left:30%;
  margin-top: 33%;

}

.e2 {
  margin-top: 34.8%;
  color: white;
  font-size: 2em;
  font-weight: bold;
  margin-left:36%;

}

.form-4-syllabus {
  margin-left: 35%;
  margin-top: 40%;
  position: absolute;
}

.footersec1 {
  height: 8rem;
  background-color: #5B0064;
  display: inline-flex;
  color: white;
  width: 100%;
  text-align:  center;


}

.footersec1-text {
  margin-top: 3.5%;
  // margin-right: 1%;
  margin-left: 7.5%;


}



.footersec3 {
  height: 8rem;
  background-color: #5B0064;
  color: white;
  width: 100%;
  text-align: center;


}

.footersec3-text {
  margin-top: 2%;
  display: inline-flex;

}

.footersec4 {
  height: 8rem;
  background-color: #5B0064;
  color: white;
  width: 100%;
  text-align: center;
}

.footersec4-text {
  margin-top: 3%;
  display: inline-flex;
  color: white;
  font-size: 2rem;
  text-decoration: underline;

}
.footersec3-free {
  margin-top: 0.6%;
  color: #27FF00;
  font-weight: bold;

}



.input-landing {
  border-radius: 30px;
  display: inline-flex;
  font-size: 1em;
  text-align: center;
}

#input-landing-email {
 opacity: 0.3
}
#input-landing-email:hover {
 opacity: 0.5
}

#input-landing-submit {

  opacity: 0.3;

}

#input-landing-submit:hover {

  opacity: 0.5;
}

.login-bttn-nav {
  margin-left: 65%;
  border-radius: 30px;
}

.mid-col {
  background-color: #5B0064;
  color: white;
}

.navbar-dark {
  background-color: #5B0064;
}


.sec {

  min-height: 100vh;
}


.s1-bg {
  max-width:100%;
  max-height: 100%;


}

.s3 {
  background-color: white
}

.s3-head {
  color: black;
  font-weight: bolder;
  text-align:  center;
  margin-top: 3%;
  border-style: solid;
}

.s4 {
  background-color: #E5E5E5;
}

.s5-card-price {
  margin-top: 0.6%;
  color: #27FF00;
  text-align: center;


}

.s5-card-foot {

text-align: center;

}

.s5-card-btn {
  color: black;
  background-color:#EFAFFF;
  border-radius: 60px;
  font-size: 1.5em;
  margin-left: 3rem;
}

.s5-card-btn:hover {
  background-color: black;
  color:#EFAFFF;
}

.s5-card-body-head {
  font-weight: bolder;
}

.s5-discount {
text-decoration: line-through;

}



.top-left {
  position: absolute;
  font-size: 1.5em;
  color: white;
  margin-top: 20%;
  margin-left: 5%;
}

.top-right {
  position: absolute;
  font-size: 1.5em;
  color: white;
  margin-left: 65%;
  margin-top: 20%;
}
